    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset text-left">
                <h2>About Me</h2>
                <p>I am a data scientist with hybrid interests in methods for large numeric data, engineering machine learning solutions for these data, and collaborating in diverse teams. My interests in numeric data originated in bioinformatic data while studying statistics at Brown University, and I then followed this path to a Harvard affiliated research institute working with several types of ‘omics data, motivating me to attend graduate school in statistics at Oregon State University. </p> 
                <p>With an MS in statistics, I continued to Pacific Northwest National Lab in Seattle, WA, where I worked in both Data Science and Software Engineering teams, implementing containerized and deployed workflows using high dimensional numeric data, including a dashboard with on-demand model retraining for a dozen distinct prediction methods, and a data engineering project standardizing multiple disjoint sets of data for deep learning predictions on the combined data.</p>
                <p>As a collaborator, I am skilled at understanding and interpreting leadership goals and translating them into a feasible technical solution accomplishable in a timely manner. I prioritize mentoring, sharing knowledge and asking questions. </p>
                <p>My primary professional goal is to engineer reliable, precise, well-designed machine learning solutions as a trusted team member in contexts with high-volume streams of numeric data. </p>
            </div>
        </div>
    </section>
