<!--- Resume Section-->
<section id="resume" class="container resume-section text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-lg-offset-2"> 
            <h2 id="resume">Resume</h2>
                <!--- <div class="d-flex flex-lg-row"> --->
                   <div class="resume"> 
                        <iframe src="https://drive.google.com/file/d/1TJVjck10_V3kCWGMj6SsZk0QMXOdq9pm/preview" id="resume"></iframe>
                   </div> 
                <!----</div> ---->
        </div>
    </div>
</section>
