<!--- Resume Section-->
<section id="resume" class="container resume-section">
    <div class="row justify-content-center text-left text-sm-center">
         
            <h2 id="resume">Resume</h2>
        </div>
  <div class="row justify-content-center text-right text-sm-center"></div>
        <div class="col-lg-4 text-right text-sm-center">
            <p></p>
        </div>
            
        <div class="col-lg-8">
            <div class="pdf-box">
            <iframe src="https://drive.google.com/file/d/1BBjCXuxlvFx8rdvYW_ZGahKz9azp8QlA/preview " style='width: 100%; height: 100%' id="resume"></iframe>
        </div>        
    </div>
    </div>
</section>
