<!--- Resume Section-->
<section id="resume" class="container resume-section">
    <div class="row justify-content-center text-left">
         
            <h2 id="resume">Resume</h2>
        </div>
  <div class="row justify-content-center text-right"></div>
        <div class="col-lg-4 text-right">
            <p>SOME TEXT ABT RESUME HERE</p>
        </div>
            
        <div class="col-lg-8">
            <iframe src="https://drive.google.com/file/d/1BBjCXuxlvFx8rdvYW_ZGahKz9azp8QlA/preview " style='width: 100%; height: auto' id="resume"></iframe>
        </div>
    </div>
</section>
